body {
    font-family: 'Nunito', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

/* Título */
h1 {
    text-align: center;
    margin-top: 89px;
    font-size: 38px;
    color: #002366;
}

/* Mensagem de sucesso */
.mensagem-sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 12px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 6px;
    text-align: center;
}

/* Formulário */
form {
    max-width: 700px; /* aumentamos aqui */
    margin: 30px auto;
    margin-top: 80px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}

form input,
form textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: #143375da;
    outline: none;
}

/* Botão */
form button {
    width: 100%;
    padding: 14px;
    background-color: #002366;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #003399;
}

/* Footer sempre embaixo */
.footer {
    background-color: #0f2a66;
    color: white;
    text-align: center;
    padding: 16px 0;
    margin-top: auto;
}
