/* ===== Reset e Fonte ===== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #e0e0e0;
}

/* ===== Container Principal ===== */
.emcartaz-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background-color: #F6FCFF;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgb(99, 119, 129);
}

h2 {
    text-align: center;
    color: #0f2a66;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #0f2b6685;
    margin-bottom: 40px;
}

/* ===== Grid de Filmes ===== */
.filmes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

/* ===== Card de Filme ===== */
.card-filme {
    height: 400px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(209, 209, 209, 0.4);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.card-filme:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 20px 5px rgb(99, 119, 129);
}

.card-filme img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.conteudo-do-cartao {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-do-cartao h3 {
    text-align: left;
    margin: 0;
    font-size: 1.5rem;
    color: #003B5B;
    font-weight: bold;
}

.conteudo-do-cartao p {
    text-align: left;
    margin: 0;
    font-size: 0.95rem;
    color: #000000;
}

.conteudo-do-cartao p strong {
   color: #003B5B;
}

/* ===== Botões ===== */
.acoes-filme {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
    margin-top: 10px;
}

.btn-primary {
    background-color: #888888;
}

.btn-primary:hover {
    background-color: #353535;
}

.btn-danger {
    background-color: #bb1414;
}

.btn-danger:hover {
    background-color: #911111;
}

/* ===== Responsividade ===== */
@media (max-width: 900px) {
    .emcartaz-container {
        margin: 20px;
        padding: 20px;
    }
    
    .card-filme {
        width: 100%;
    }
}

.sem-filmes {
    text-align: center;
    font-size: 1.2rem;
    color: #0f2a66;
}
